@prefix void: <http://rdfs.org/ns/void#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix dc: <http://purl.org/dc/terms/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix wv: <http://vocab.org/waiver/terms/norms> .
@prefix sd: <http://www.w3.org/ns/sparql-service-description#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix skosmos: <http://purl.org/net/skosmos#> .
@prefix isothes: <http://purl.org/iso25964/skos-thes#> .
@prefix mdrtype: <http://publications.europa.eu/resource/authority/dataset-type/> .
@prefix : <#> .

# Skosmos main configuration

:config a skosmos:Configuration ;
    skosmos:sparqlEndpoint <http://data.silknow.org/sparql> ;
    skosmos:sparqlDialect "Generic" ;
    skosmos:sparqlCollationEnabled true ;
    skosmos:sparqlTimeout 20 ;
    skosmos:httpTimeout 5 ;
    skosmos:serviceName "SILKNOW" ;
    skosmos:languages (
        [ rdfs:label "es" ; rdf:value "es_ES.utf8" ]
        [ rdfs:label "en" ; rdf:value "en_GB.utf8" ]
        [ rdfs:label "fr" ; rdf:value "fr_FR.utf8" ]
	[ rdfs:label "it" ; rdf:value "it_IT.utf8" ]
    ) ;
    skosmos:searchResultsSize 20 ;
    skosmos:transitiveLimit 1000 ;
    skosmos:logCaughtExceptions true ;
    skosmos:logBrowserConsole true ;
    skosmos:templateCache "/tmp/skosmos-template-cache" ;
    skosmos:baseHref "https://skosmos.silknow.org/";
    # skosmos:customCss "resource/css/stylesheet.css" ;
    skosmos:uiLanguageDropdown true ;
    # whether to enable the spam honey pot or not, enabled by default
    skosmos:uiHoneypotEnabled true ;
    skosmos:uiHoneypotTime 5 ;
    skosmos:globalPlugins () .

# Skosmos vocabularies

:thesaurus a skosmos:Vocabulary, void:Dataset ;
    dc:title "SILK Thesaurus" ;
    dc:subject :cat_general ;
    dc:type mdrtype:THESAURUS ;
    void:uriSpace "http://data.silknow.org/vocabulary/";
    skosmos:language "es", "en", "fr", "it";
    skosmos:fallbackLanguages "en", "fr", "es" ;
    skosmos:defaultLanguage "en" ;
    skosmos:groupClass skos:Collection ;
    # skosmos:hasMultiLingualProperty dc:bibliographicCitation, skos:definition ;
    skosmos:showDeprecated "true" ;
    skosmos:shortName "SILK";
    skosmos:showChangeList "false" ;
    skosmos:showNotation "true" ;
    skosmos:loadExternalResources "true" ;
    skosmos:showTopConcepts "true" ;
    skosmos:mainConceptScheme <http://data.silknow.org/vocabulary/silk-thesaurus> ;
    void:sparqlEndpoint <http://data.silknow.org/sparql> ;
    void:dataDump <https://github.com/silknow/thesaurus/blob/master/thesaurus.ttl> ;
    skosmos:sparqlGraph <http://data.silknow.org/vocabulary>
    .

:categories a skosmos:Vocabulary, void:Dataset ;
    dc:title "SILKNOW Categories / Type of objects" ;
    dc:subject :cat_general ;
    dc:type mdrtype:THESAURUS ;
    void:uriSpace "http://data.silknow.org/category/";
    skosmos:language "es", "en", "fr", "ca";
    skosmos:fallbackLanguages "en", "fr", "es" ;
    skosmos:defaultLanguage "en" ;
    skosmos:groupClass skos:Collection ;
    # skosmos:hasMultiLingualProperty dc:bibliographicCitation, skos:definition ;
    skosmos:showDeprecated "true" ;
    skosmos:shortName "SILKcat";
    skosmos:showChangeList "false" ;
    skosmos:showNotation "true" ;
    skosmos:loadExternalResources "true" ;
    skosmos:showTopConcepts "true" ;
    skosmos:mainConceptScheme <http://data.silknow.org/category/silk-category-vocabulary> ;
    void:sparqlEndpoint <http://data.silknow.org/sparql> ;
    void:dataDump <https://github.com/silknow/thesaurus/blob/master/categories.ttl> ;
    skosmos:sparqlGraph <http://data.silknow.org/control_vocab>
    .
    

#:att a skosmos:Vocabulary, void:Dataset ;
#    dc:title "Art and Architecture Thesaurus (ATT)" ;
#    dc:subject :cat_general ;
#    dc:type mdrtype:THESAURUS ;
#    void:uriSpace "http://vocab.getty.edu/aat/";
#    skosmos:languages "es", "en", "it", "fr";
#    skosmos:defaultLanguage "en" ;
#    skosmos:shortName "ATT";
#    skosmos:showChangeList "false" ;
#    skosmos:showNotation "true" ;
#    skosmos:loadExternalResources "true" ;
#    skosmos:showTopConcepts "true" ;
#    skosmos:groupClass skos:Collection ;
#    skosmos:mainConceptScheme <http://vocab.getty.edu/aat/> ;
#    void:sparqlEndpoint <http://data.silknow.org/sparql> ;
#    void:dataDump <http://vocab.getty.edu/aat.ttl> ;
#    skosmos:sparqlGraph <http://data.silknow.org/vocabulary_att>
#.
